#promo{
  text-align:center;
  padding:10px;
}

body{
  margin:0;
  font-family:comic-sans;
  font-size:15px;
}

h1.text-center{
  padding-top:20px;
}

.container2{
  background-color:pink;
}

div.container.style2{
  margin-top:50px;
}

i.fa.fa-birthday-cake{
  font-size:42px;
  text-align:center;
  color:rgb(249,123,145);
}

div.col-md-4.item1{
  text-align:center;
}

i.fa.fa-heart{
  font-size:42px;
  color:rgb(249,123,145);
}

i.fa.fa-hand-peace-o{
  font-size:42px;
  color:rgb(249,123,145);
}

div.row{
  padding-bottom:30px;
  padding-top:40px;
}

#reason{
  background-color:rgb(238,220,223);
}

nav.navbar.navbar-default{
  font-size:17px;
}

a.navbar-brand.navbar-link{
  font-size:17px;
}

i.glyphicon.glyphicon-apple{
  color:rgb(248,143,161);
}

footer{
  background-color:rgb(242,105,105);
  margin-top:50px;
  
}

h3{
  font-size:17px;
}

i.fa.fa-location-arrow{
  color:blue;
}

p.text-center{
  font-size:20px;
  color:rgb(89,71,71);
}

i.fa.fa-phone-square{
  color:blue;
}

h2{
  font-family:Chaparral Pro Light;
}

i.fa.fa-envelope-o{
  color:blue;
}

header{
  text-align:center;
  padding:20px;
}


